@import "tailwindcss";

@theme {
  --color-sage: #9CA986;

  --font-karla: var(--font-karla), sans-serif;
  --font-sans: var(--font-sweet-sans), sans-serif;
  --font-script: var(--font-moontime), cursive;
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #111111;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #111111;
      --foreground: #f5f5f5;
    }
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    @apply antialiased;
  }
}
